.git
.github
.ruff_cache
.mypy_cache
.pytest_cache
.coverage
.benchmarks
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.venv
.env
*.md
!README.md
LICENSE
.gitignore
.pre-commit-config.yaml
Dockerfile
.dockerignore
